@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #464646;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

.staticCarousel {
  background-image: url('../public/banner_background_ornament.svg') ;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-color: #FB923C;
  /* background-size: contain; */
  background-repeat: no-repeat;
}